{% import "util.html" as util %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% block title %}Hello, citizen Kane{% endblock %}</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>

    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.css') }}">
    {% endblock %}

    {% block scripts %}
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.color-2.1.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='base.js') }}"></script>
    {% endblock %}
</head>

<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
