{% import "util.html" as util %}

{% macro fact_listing(facts) %}
    <table class="facts">
        {% for fact in facts %}
            <tr>
                <td class="start-time">
                    {{ fact.start_time.strftime("%H:%M") }}
                    {% if fact.end_time %}
                        - {{ fact.end_time.strftime("%H:%M") }}
                    {% endif %}
                </td>
                <td>
                    {{ fact.name }}
                    {%- if fact.category -%}
                        <span class="category">
                            - {{ fact.category }}
                        </span>
                    {% endif %}
                </td>
                <td class="duration">
                    {{ util.human_duration(fact.delta) }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro day_listing(date, facts) %}
    <div class="row day-row fresh" date="{{ date.strftime("%Y-%m-%d")}}" year="{{ date.year }}" month="{{ date.strftime("%B") }}" day="{{ date.day }}">
        <span class="span7 drilldown">
            <h1 class="date-header">{{ util.friendly_date(date) }}</h1>
            {{ fact_listing(facts) }}
        </span>
    </div>
{% endmacro %}


{% macro hints() %}
    <div id="input_hint" style="font-size: 0.85em">
        <div id="input_syntax">
            <span class="time-or-activity current">
                Time or
                <span class="activity">activity</span></span><span class="category">@category</span>

                <span class="comment-and-tags">#tags and comment</span>
            </span>
        </div>
        <div id="hints" style="padding-top: 20px">
            <div class="time-or-activity">
                <p>
                    Start by entering time or activity name.
                </p>
                <p>
                    Time can be either a delta (-x minutes ago),
                    or a specific hour and minute (15:30).
                </p>
                <p>
                    You can enter just start time or both start and end times.
                </p>
            </div>
            <div class="activity" style="display: none">
                <p>
                    You can create new activities just by starting
                    one that you haven't used yet.
                </p>
                <p>
                    Specify a category by appending @ symbol to the
                    activity.
                </p>
                <p>
                    Activity names are case insensitive
                </p>
            </div>
            <div class="category" style="display: none">
                <p>
                    You can create new categories just by typing
                    one that you haven't used yet.
                </p>
                <p>
                    You can have same activity in several categories
                    (they will count as several activities)
                </p>
            </div>
            <div class="comment-and-tags" style="display: none">
                <p>
                    Prefix tags with a hash tag (#tag1, #tag2, etc)
                </p>
                <p>
                    And for comment just type in series of words and
                    it will be saved as a comment.
                </p>
            </div>
        </div>
    </div>
{% endmacro %}

{% if just_facts %}
    {% for date, facts in facts %}
        {{ day_listing(date, facts) }}
    {% endfor %}

{% else %}
    {% extends "base.html" %}

    {% block scripts %}
        {{ super() }}
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $(".activity-input input").keyup(function() {
                    var phase = currentPhase();

                    if (phase != prevPhase) {
                        console.log(phase)

                        prevPhase = phase;
                        $("#hints > div").stop().hide();
                        $("#hints ." + phase).stop().fadeIn();

                        $("#input_syntax span").removeClass("current");
                        $("#input_syntax ." + phase).addClass("current");


                    }
                });

                $(".activity-input form").submit(function(evt){
                    evt.preventDefault();
                    $.post("{{ url_for('activities') }}", $(this).serialize(), function(response) {
                        var row = $(".day-row[date=" + response.date + "]")
                        if (row) {
                            var day = $(response.rendered);
                            var facts = day.find(".facts");
                            row.find(".facts").replaceWith(facts);
                            flashUpdate(row);
                        }
                    });
                });

                $(window).on("scroll", function() {
                    loadOnPageEnd();
                });

                var loading = false,
                    page = 0;
                function loadOnPageEnd() {
                    if ($(window).scrollTop() > $(document).height() - $(window).height() - 10) {
                        if (!loading) {
                            loading = true;
                            var more = $('<div class="loading">Loading!</div>')
                            $(".before").append(more);

                            page += 1;
                            more.load("{{ url_for('more_facts') }}/" + page, function() {
                                more.hide();
                                $(".before").append(more.children())
                                more.remove()
                                checkMonthYear();

                                loading = false;
                            });
                        }
                    }
                }

                checkMonthYear();
            })
        </script>
    {% endblock %}

    {% block content %}
        <div class="row activity-input-row" style="margin-top: 1em">
            <div class="span12">
                <b>Start activity</b>
            </div>
        </div>

        <div class="row">
            <span class="span7 activity-input">
                <form>
                    <input name="activity" />
                </form>
            </span>
            <span class="span5">
                {{ hints() }}
            </span>
        </div>

        <div class="before">
            {{ day_listing(today, todays_facts) }}
            {% for date, facts in before %}
                {{ day_listing(date, facts) }}
            {% endfor %}
        </div>
    {% endblock %}
{% endif %}
