{% import "util.html" as util %}

{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>

    <script type="text/javascript">
        var dateFormat = d3.time.format("%Y-%m-%d");
        var datetimeFormat = d3.time.format("%Y-%m-%dT%H:%M:%S");

        var facts = [
            {%- for fact in facts -%}
                {date: dateFormat.parse("{{ fact.date.strftime("%Y-%m-%d") }}"),
                 start: datetimeFormat.parse("{{ fact.start_time.strftime("%Y-%m-%dT%H:%M:%S") }}"),
                 end: datetimeFormat.parse("{{ fact.end_time.strftime("%Y-%m-%dT%H:%M:%S") if fact.end_time}}"),
                 minutes: {{ "%d" % (fact.delta.total_seconds() / 60.0)|round }},
                 name: "{{ fact.name }}",
                 category: "{{ fact.category }}",
                },
            {% endfor %}
        ]


        function renderCategoryStack(facts) {
            var byDateCategory = d3.nest()
                .key(function(d) { return dateFormat(d.date); })
                .key(function(d) { return d.category; })
                .rollup(function(d) { return d3.sum(d, function(d2){ return d2.minutes;}) })
                .map(facts, d3.map);
            byDateCategory = byDateCategory.entries()

            /* XXX - ooh, this looks lame, need more d3 fu! */
            var allCategories = {}
            byDateCategory.forEach(function(d){d3.keys(d.value).forEach(function(d2) {allCategories[d2]=1})});
            allCategories = d3.keys(allCategories)


            var margin = {top: 0, right: 0, bottom: 0, left: 0},
                width = 800 - margin.left - margin.right,
                height = 400 - margin.top - margin.bottom;

            var x = d3.time.scale()
                .range([0, width]);
            x.domain(d3.extent(byDateCategory, function(d) { return dateFormat.parse(d.key); }));

            var y = d3.scale.linear()
                .range([height, 0]);


            var svg = d3.select("#by_date_category").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g");


            // determine which name will be which color
            var color = d3.scale.category20();
            color.domain(allCategories);

            byDateCategory.forEach(function(d) {
                var y0 = 0;
                // iterate through cats so the stack order is always the same
                // add the struc as .categories
                d.categories = color.domain().map(function(name) { return {name: name, y0: y0, y1: y0 += +(d.value[name] || 0)}; });
                d.total = d.categories[d.categories.length - 1].y1;
            });

            y.domain([0, d3.max(byDateCategory, function(d) { return d.total; })]);

            var day = svg.selectAll(".day")
                .data(byDateCategory)
              .enter().append("g")
                .attr("class", "g")
                .attr("transform", function(d) { return "translate(" + x(dateFormat.parse(d.key)) + ",0)"; });

            day.selectAll("rect")
                .data(function(d) { return d.categories; })
              .enter().append("rect")
                .attr("width", width / byDateCategory.length)
                .attr("y", function(d) { return y(d.y1); })
                .attr("height", function(d) { return y(d.y0) - y(d.y1); })
                .style("fill", function(d) { return color(d.name); });

        }


        function renderTaskCounts(facts) {
            var byDate = d3.nest()
                .key(function(d) { return dateFormat(d.date); })
                .rollup(function(d) { return d.length })
                .map(facts, d3.map);
            byDate = byDate.entries()

            var margin = {top: 0, right: 0, bottom: 0, left: 0},
                width = 800 - margin.left - margin.right,
                height = 100 - margin.top - margin.bottom;

            var x = d3.time.scale().range([0, width]);
            x.domain(d3.extent(byDate, function(d) { return dateFormat.parse(d.key); }));

            var y = d3.scale.linear().range([height, 0]);


            var svg = d3.select("#by_task_count").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g");


            y.domain([0, d3.max(byDate, function(d) { return d.value; })]);


            svg.selectAll(".bar")
                .data(byDate)
              .enter().append("rect")
                .attr("class", "bar")
                .attr("x", function(d) { return x(dateFormat.parse(d.key)); })
                .attr("width", width / byDate.length)
                .attr("y", function(d) { return y(d.value); })
                .attr("height", function(d) { return height - y(d.value); })
                .attr("fill", "#3684BA");
        }


        function renderAvgTaskLength(facts) {
            var byDate = d3.nest()
                .key(function(d) { return dateFormat(d.date); })
                .rollup(function(d) { return d3.sum(d, function(d2){ return d2.minutes;}) / d.length })
                .map(facts, d3.map);
            byDate = byDate.entries()

            var margin = {top: 0, right: 0, bottom: 0, left: 0},
                width = 800 - margin.left - margin.right,
                height = 100 - margin.top - margin.bottom;

            var x = d3.time.scale().range([0, width]);
            x.domain(d3.extent(byDate, function(d) { return dateFormat.parse(d.key); }));

            var y = d3.scale.linear().range([height, 0]);


            var svg = d3.select("#by_avg_length").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g");


            y.domain([0, d3.max(byDate, function(d) { return d.value; })]);


            svg.selectAll(".bar")
                .data(byDate)
              .enter().append("rect")
                .attr("class", "bar")
                .attr("x", function(d) { return x(dateFormat.parse(d.key)); })
                .attr("width", width / byDate.length)
                .attr("y", function(d) { return y(d.value); })
                .attr("height", function(d) { return height - y(d.value); })
                .attr("fill", "#3684BA");
        }


        function renderStartsEnds(facts) {
            // XXX - this does not consider hamster midnight yet (~5am)
            var byDate = d3.nest()
                .key(function(d) { return dateFormat(d.date); })
                .rollup(function(d) {
                            function toMinutes(time) {
                                if (time) {
                                    return time.getHours() * 60 + time.getMinutes();
                                } else {
                                    return 0;
                                }
                            }
                            var minStart = d3.min(d, function(d2){ return d2.start;});
                            var maxEnd = d3.max(d, function(d2){ return d2.end;})
                            return [toMinutes(minStart), toMinutes(maxEnd)]
                        })
                .map(facts, d3.map);
            byDate = byDate.entries()

            var margin = {top: 0, right: 0, bottom: 0, left: 0},
                width = 800 - margin.left - margin.right,
                height = 400 - margin.top - margin.bottom;

            var x = d3.time.scale().range([0, width]);
            x.domain(d3.extent(byDate, function(d) { return dateFormat.parse(d.key); }));

            var y = d3.scale.linear().range([height, 0]);


            var svg = d3.select("#by_starts_ends").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g");


            y.domain([0, 1440]);


            svg.selectAll(".bar")
                .data(byDate)
              .enter().append("rect")
                .attr("class", "bar")
                .attr("x", function(d) { return x(dateFormat.parse(d.key)); })
                .attr("width", width / byDate.length)
                .attr("y", function(d) { return y(d.value[1]); })
                .attr("height", function(d) { return y(d.value[1] - d.value[0]); })
                .attr("fill", "#3684BA");
        }


        $(document).ready(function() {
            renderCategoryStack(facts);
            renderTaskCounts(facts);
            renderAvgTaskLength(facts);
            renderStartsEnds(facts);
        });


    </script>
{% endblock %}

{% block content %}
    <h1>Not really nifty but at least a beginning</h1>

    <h3 style="color: #aaa; margin-top: 3em;">
        Here's time by category. Looks really cool if you have 6 years of
        hamster history, track your jobs as categories and change jobs like me.
    </h3>
    <div id="by_date_category"></div>

    <h3 style="color: #aaa; margin-top: 3em;">
        Here's by number of tasks per day (interruptions) - might be better as
        line graph.
    </h3>
    <div id="by_task_count"></div>

    <h3 style="color: #aaa; margin-top: 3em;">
        Here's by average task length (shows your tracking pattern; longer=less precision)
    </h3>
    <div id="by_avg_length"></div>


    <h3 style="color: #aaa; margin-top: 3em;">
        Aaaand here's one with starts and ends (being awake and such; i don't
        think it is working properly right now)
    </h3>
    <div id="by_starts_ends"></div>

{% endblock %}
